---
- hosts: webservers
  become: true
  tasks:
  - name: Install nginx
    apt: 
      name: "nginx" 
      state: "present"
  - name: Start and enable service nginx 
    service:
       name: nginx 
       state: started
       enabled: true 
  - name: Copy custom index.html
    copy:
       src: index.html
       dest: /var/www/html/
       mode: '0644'
